modules = ["nodejs-20", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Angular App"

[[workflows.workflow]]
name = "Angular App"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx ng serve"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 34019
externalPort = 3003

[[ports]]
localPort = 42381
externalPort = 3000

[[ports]]
localPort = 44353
externalPort = 3001

[[ports]]
localPort = 46359
externalPort = 3002

[deployment]
deploymentTarget = "autoscale"
run = ["npx", "serve", "dist/agent-ui", "-s", "-l", "5000"]
build = ["npm", "run", "build"]
