<header class="app-header" *ngIf="!isLoginPage">
  <div class="header-content">
    <div class="logo-section">
      <img src="/logo.png" alt="Logo" class="header-logo">
      <h1>ChatAgent Pro</h1>
    </div>
    <button 
      mat-icon-button 
      [matMenuTriggerFor]="userMenu"
      class="user-menu-btn"
      matTooltip="User Menu">
      <mat-icon>account_circle</mat-icon>
    </button>
    
    <mat-menu #userMenu="matMenu" class="user-menu">
      <div class="user-info">
        <mat-icon class="user-avatar">account_circle</mat-icon>
        <div class="user-details">
          <div class="user-name">Admin User</div>
          <div class="user-email">admin@chatagent.pro</div>
        </div>
      </div>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </div>
</header>

<div *ngIf="!isLoginPage" class="main-content">
  <app-left-menu>
    <router-outlet />
  </app-left-menu>
</div>

<router-outlet *ngIf="isLoginPage" />
