<header class="app-header" *ngIf="!isLoginPage">
  <div class="header-content">
    <div class="logo-section">
      <img src="/logo.png" alt="Logo" class="header-logo">
      <h1>ChatAgent Pro</h1>
    </div>
    <button 
      mat-icon-button 
      (click)="logout()" 
      class="logout-btn"
      matTooltip="Logout">
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</header>

<div *ngIf="!isLoginPage" class="main-content">
  <app-left-menu>
    <router-outlet />
  </app-left-menu>
</div>

<router-outlet *ngIf="isLoginPage" />
